

section .text
{
    position: absolute;
    font-size: 1.5em;
    user-select: none;
    pointer-events: none;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

section .text span
{
    position: absolute;
    top: -100px;
    text-transform:uppercase;
    display: inline-block;
    transform-origin: 0px;

}

codersrank-summary {
    --header-bg-color: #593196;
    --badge-bg-color: #593196;
}
